body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: linear-gradient(400deg, #6bb5ff, #2538c4c0);
}

.container {
  perspective: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  margin-top: 20px;
}

.container > div {
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  background: linear-gradient(45deg, #f9545a, #fad0c4);
  box-shadow: 3px 4px 6px rgba(0.6, 0.6, 0.6, 0.6);
}
